*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    
}
li,h1,ul{
    display:inline;
}
ul
{
margin-left: 45%;
}
li{
    color: grey;
    cursor: pointer;
    padding: 15px;
    border-right: 5px;
    border-color: azure;
}
li:hover{
    color:white
}
input{
    width: 60%;
    padding: 20px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box
{
    border-width: 2px;
    border-color: rgb(213, 165, 165);
    border-style: solid;
    display: inline-block;
    width: 200px;
    text-align:justify;
}   
.product
{
    text-align: center;
    
}
.box:hover
{
    background-color: rgb(207, 163, 180);
    color: aliceblue;
}
.about
{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact
{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-bottom: 100px;
    
}
.last
{
    margin-top: 30px;
    font-size: 80%;

 
}
button{
    padding: 20px;
}
.header
{
    position: sticky;
position:-webkit-sticky;
top:0;
}
button:hover
{
    background-color:rgb(75, 75, 141) ;
}
